.cd-number {
    position: absolute;
    opacity: 0;
  }
  
  .cd-number-ten {
    -webkit-animation: cd-number-anim 1s ease 0s 1 normal;
    -moz-animation: cd-number-anim 1s ease 0s 1 normal;
    -ms-animation: cd-number-anim 1s ease 0s 1 normal;
    -o-animation: cd-number-anim 1s ease 0s 1 normal;
    animation: cd-number-anim 1s ease 0s 1 normal;
  }
  
  .cd-number-nine {
    -webkit-animation: cd-number-anim 1s ease 1s 1 normal;
    -moz-animation: cd-number-anim 1s ease 1s 1 normal;
    -ms-animation: cd-number-anim 1s ease 1s 1 normal;
    -o-animation: cd-number-anim 1s ease 1s 1 normal;
    animation: cd-number-anim 1s ease 1s 1 normal;
  }
  
  .cd-number-eight {
    -webkit-animation: cd-number-anim 1s ease 2s 1 normal;
    -moz-animation: cd-number-anim 1s ease 2s 1 normal;
    -ms-animation: cd-number-anim 1s ease 2s 1 normal;
    -o-animation: cd-number-anim 1s ease 2s 1 normal;
    animation: cd-number-anim 1s ease 2s 1 normal;
  }
  
  .cd-number-seven {
    -webkit-animation: cd-number-anim 1s ease 3s 1 normal;
    -moz-animation: cd-number-anim 1s ease 3s 1 normal;
    -ms-animation: cd-number-anim 1s ease 3s 1 normal;
    -o-animation: cd-number-anim 1s ease 3s 1 normal;
    animation: cd-number-anim 1s ease 3s 1 normal;
  }
  
  .cd-number-six {
    -webkit-animation: cd-number-anim 1s ease 4s 1 normal;
    -moz-animation: cd-number-anim 1s ease 4s 1 normal;
    -ms-animation: cd-number-anim 1s ease 4s 1 normal;
    -o-animation: cd-number-anim 1s ease 4s 1 normal;
    animation: cd-number-anim 1s ease 4s 1 normal;
  }
  
  .cd-number-five {
    -webkit-animation: cd-number-anim 1s ease 5s 1 normal;
    -moz-animation: cd-number-anim 1s ease 5s 1 normal;
    -ms-animation: cd-number-anim 1s ease 5s 1 normal;
    -o-animation: cd-number-anim 1s ease 5s 1 normal;
    animation: cd-number-anim 1s ease 5s 1 normal;
  }
  
  .cd-number-four {
    -webkit-animation: cd-number-anim 1s ease 6s 1 normal;
    -moz-animation: cd-number-anim 1s ease 6s 1 normal;
    -ms-animation: cd-number-anim 1s ease 6s 1 normal;
    -o-animation: cd-number-anim 1s ease 6s 1 normal;
    animation: cd-number-anim 1s ease 6s 1 normal;
  }
  
  .cd-number-three {
    -webkit-animation: cd-number-anim 1s ease 7s 1 normal;
    -moz-animation: cd-number-anim 1s ease 7s 1 normal;
    -ms-animation: cd-number-anim 1s ease 7s 1 normal;
    -o-animation: cd-number-anim 1s ease 7s 1 normal;
    animation: cd-number-anim 1s ease 7s 1 normal;
  }
  
  .cd-number-two {
    -webkit-animation: cd-number-anim 1s ease 8s 1 normal;
    -moz-animation: cd-number-anim 1s ease 8s 1 normal;
    -ms-animation: cd-number-anim 1s ease 8s 1 normal;
    -o-animation: cd-number-anim 1s ease 8s 1 normal;
    animation: cd-number-anim 1s ease 8s 1 normal;
  }
  
  .cd-number-one {
    -webkit-animation: cd-number-anim 1s ease 9s 1 normal;
    -moz-animation: cd-number-anim 1s ease 9s 1 normal;
    -ms-animation: cd-number-anim 1s ease 9s 1 normal;
    -o-animation: cd-number-anim 1s ease 9s 1 normal;
    animation: cd-number-anim 1s ease 9s 1 normal;
  }
  
  .cd-number-zero {
    -webkit-animation: cd-number-anim 1s ease 10s 1 normal;
    -moz-animation: cd-number-anim 1s ease 10s 1 normal;
    -ms-animation: cd-number-anim 1s ease 10s 1 normal;
    -o-animation: cd-number-anim 1s ease 10s 1 normal;
    animation: cd-number-anim 1s ease 10s 1 normal;
  }
  
  @-webkit-keyframes cd-number-anim {
    from {
      -webkit-transform: scale(0.5);
      opacity: 0;
    }
  
    to {
      -webkit-transform: scale(1.3);
      opacity: 1;
    }
  }
  
  @-moz-keyframes cd-number-anim {
    from {
      -moz-transform: scale(0.5);
      opacity: 0;
    }
  
    to {
      -moz-transform: scale(1.3);
      opacity: 1;
    }
  }
  
  @-o-keyframes cd-number-anim {
    from {
      -o-transform: scale(0.5);
      opacity: 0;
    }
  
    to {
      -o-transform: scale(1.3);
      opacity: 1;
    }
  }
  
  @-ms-keyframes cd-number-anim {
    from {
      -ms-transform: scale(0.5);
      opacity: 0;
    }
  
    to {
      -ms-transform: scale(1.3);
      opacity: 1;
    }
  }
  
  @keyframes cd-number-anim {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
  
    to {
      transform: scale(1.3);
      opacity: 1;
    }
  }